/* 
    Created on : Sep 14, 2016, 8:00:56 AM
    Author     : red
*/

/* General body settings */
body { 
    color: #3e4d5c; 
    direction: ltr;
    font: 400 13px 'Open Sans', Arial, sans-serif;
    background-color: #f8f8f8;
}

/***
General typography 
***/
h1,
h2,
h3,
h4,
h5,
h6 {
    font: 300 'Open Sans', sans-serif;
    margin: 0 0 10px;
}
h1 {
    margin-bottom: 15px;
}
main {
    min-height: 250px;
}
a:hover {
    list-style: none;
    text-decoration: none;
}

/***
Misc tools
***/
.dropdown:hover > .dropdown-menu{
     display:block
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-bottom-space {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.no-top-space {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.no-space {
  margin: 0 !important;
  padding: 0 !important;
}
.no-text-shadow {
  text-shadow: none !important;
}

.padding-top-5 {
	padding-top: 5px !important;
}
.padding-top-10 {
	padding-top: 10px !important;
}
.padding-top-15 {
	padding-top: 15px !important;
}
.padding-top-20 {
	padding-top: 20px !important;
}
.padding-top-25 {
	padding-top: 25px !important;
}
.padding-top-30 {
	padding-top: 30px !important;
}
.padding-top-35 {
	padding-top: 35px !important;
}
.padding-top-40 {
	padding-top: 40px !important;
}
.padding-top-45 {
	padding-top: 45px !important;
}
.padding-top-50 {
	padding-top: 50px !important;
}
.padding-top-60 {
	padding-top: 60px !important;
}

.padding-bottom-5 {
	padding-bottom: 5px !important;
}
.padding-bottom-10 {
	padding-bottom: 10px !important;
}
.padding-bottom-15 {
	padding-bottom: 15px !important;
}
.padding-bottom-20 {
	padding-bottom: 20px !important;
}
.padding-bottom-25 {
	padding-bottom: 25px !important;
}
.padding-bottom-30 {
	padding-bottom: 30px !important;
}
.padding-bottom-35 {
	padding-bottom: 35px !important;
}
.padding-bottom-40 {
	padding-bottom: 40px !important;
}
.padding-bottom-45 {
	padding-bottom: 45px !important;
}
.padding-bottom-50 {
	padding-bottom: 50px !important;
}
.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-left-5 {
	padding-left: 5px !important;
}
.padding-left-10 {
	padding-left: 10px !important;
}
.padding-left-15 {
	padding-left: 15px !important;
}
.padding-left-20 {
	padding-left: 20px !important;
}
.padding-left-25 {
	padding-left: 25px !important;
}
.padding-left-30 {
	padding-left: 30px !important;
}
.padding-left-35 {
	padding-left: 35px !important;
}
.padding-left-40 {
	padding-left: 40px !important;
}
.padding-left-45 {
	padding-left: 45px !important;
}
.padding-left-50 {
	padding-left: 50px !important;
}
.padding-left-60 {
	padding-left: 60px !important;
}

.padding-right-5 {
	padding-right: 5px !important;
}
.padding-right-10 {
	padding-right: 10px !important;
}
.padding-right-15 {
	padding-right: 15px !important;
}
.padding-right-20 {
	padding-right: 20px !important;
}
.padding-right-25 {
	padding-right: 25px !important;
}
.padding-right-30 {
	padding-right: 30px !important;
}
.padding-right-35 {
	padding-right: 35px !important;
}
.padding-right-40 {
	padding-right: 40px !important;
}
.padding-right-45 {
	padding-right: 45px !important;
}
.padding-right-50 {
	padding-right: 50px !important;
}
.padding-right-60 {
	padding-right: 60px !important;
}

.margin-bottom-0 {
	margin-bottom: 0 !important;
}
.margin-bottom-5 {
	margin-bottom: 5px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.margin-bottom-15 {
	margin-bottom: 15px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px !important;
}
.margin-bottom-25 {
	margin-bottom: 25px !important;
}
.margin-bottom-30 {
	margin-bottom: 30px !important;
}
.margin-bottom-35 {
	margin-bottom: 35px !important;
}
.margin-bottom-40 {
	margin-bottom: 40px !important;
}
.margin-bottom-50 {
	margin-bottom: 50px !important;
}
.margin-bottom-60 {
	margin-bottom: 60px !important;
}
.margin-bottom-65 {
	margin-bottom: 65px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-left-0 {
  margin-left: 0 !important;
}
.margin-right-0 {
  margin-right: 0 !important;
}

.margin-right-20 {
	margin-right: 20px !important;
}
.margin-left-20 {
	margin-left: 20px !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}
.padding-right-0 {
  padding-right: 0 !important;
}
.padding-right-30 {
	padding-right: 30px !important;
}

.margin-right-10 {
	margin-right: 10px !important;
}

/***
Header
***/
.header{
    background-color: #fff;
}
.top-header {
	color: #616b76;
	padding-top: 10px;
	line-height: 1.2;
}

.main-header {
	/*box-shadow: 0 1px 3px #ddd;*/
	border-radius: 0;
	/*margin-bottom: 23px;*/
	z-index: 999;
	position: relative;
}
.site-logo{
    font-size: 28px;
    font-family: 'Special Elite', cursive;
    padding:10px;
}
/* FIX styles BEGIN */
.page-header-fixed .main-header {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
}
.page-header-fixed .main-header navbar a {
	padding-top: 10px !important;
        padding-bottom:10px !important;
}
body.page-header-fixed {
	padding-top: 88px !important; /* height of the header */
}
/* FIX styles END */

/* Post Slider */
.post-slider {
  position: relative;
}
.post-slider a:hover {
  text-decoration: none;
}
.post-slider h2,
.ecommerce .post-slider h2 {
  margin: 3px 0 5px;
}
.post-slider h2 a {
	color: #3e4d5c;
}
.post-slider h2 a:hover {
	color: #E02222;
}
.post-slider-item {
	padding-left: 10px;
}
.post-slider .owl-buttons {
/*	left: -74px;
	right: auto;*/
	left: 5px;
	right: 5px;
        top: 20%;
}
.post-slider .owl-next{
    float:right !important;
    right: 0px !important;
}

.post-slider .post-slider-item a.post-slider-description {
	padding: 10px;
	display: block;
	background: #fff;
}
.post-slider .post-slider-item:hover a.post-slider-description {
	background: #E6400C;
    transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -webkit-transition: all 0.9s ease;		
}
.post-slider .post-slider-item strong {
	color: #000;
	display: block;
	font-size: 16px;
	font-weight: 300;
}
.post-slider .post-slider-item b {
	color: #656565;
	font-weight: 300;
}
.post-slider .post-slider-item:hover b,
.post-slider .post-slider-item:hover strong {
	color: #fff;
}
.post-slider .post-slider-item em {
	display: block;
	overflow: hidden;
	position: relative;
}
.post-slider .post-slider-item em .fa {
	color: #fff;
	padding: 16px 30px 16px 18px;
	font-size: 16px;
	position: absolute;
	top: 50%;
	width: 47px;
	height: 47px;
	margin-top: -23.5px;
	border-radius: 47px;
	background: rgba(0,0,0,0.5);
    transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;	
}
.post-slider .post-slider-item .fa:hover {
	color: #E02222;
}
.post-slider .post-slider-item .fa-link {
	left: -100px;
}
.post-slider .post-slider-item .fa-search {
	right: -100px;
}
.post-slider .post-slider-item:hover .fa-link {
	left: 30%;
}
.post-slider .post-slider-item:hover .fa-search {
	right: 30%;
}

/* OWL styles */
.owl-buttons {
	position: absolute;
	top: -40px;
	right: 10px;
}
.owl-buttons div {
	display: inline-block;
	width: 26px;
	height: 26px;
	margin-left: 5px;
	position: static;
	border-radius: 26px !important;
	text-indent: -100000px;
}
.owl-buttons .owl-prev {
    background: #fff url(../img/fa-angles.png) no-repeat 8px 8px;
}
.owl-buttons .owl-next {
    background: #fff url(../img/fa-angles.png) no-repeat -33px 8px;
}
.owl-buttons .owl-prev:hover {
    background: #e84d1c url(../img/fa-angles.png) no-repeat 8px -31px;
}
.owl-buttons .owl-next:hover {
    background: #e84d1c url(../img/fa-angles.png) no-repeat -33px -31px;
}

/*  */
.carousel-indicators {
	text-align: left;
	margin: 0;
	width: auto;
	left: 33px;
}
.carousel-indicators li,
.carousel-indicators li.active {
	width: 18px;
	height: 18px;
	margin: 0 9px 0 0;
	background: transparent;
	border: solid 2px #c9cdce;
	border-radius: 18px !important;
	z-index: 9999 !important;
}
.carousel-indicators li.active {
	background: #6f7a7c;
	border-color: #9ea7a9;
}

/***
Pre-Footer
***/
.pre-footer {
	background: #fff;
}
/***
Footer
***/
.footer {
	background: #fff;
	font-size: 12px;
	padding: 15px 0;
}
.footer-light {
	background: #F9F9F9;
	color: #3e4d5c;
}
.footer-gray {
	background: #4A5866;
}

.valign-bottom{
    vertical-align: bottom;
}

.w3-dropdown-submenu {
    position: relative;
}

.w3-dropdown-content li, .w3-dropdown-content a {
    width:100%;
    list-style: none;
    text-decoration: none;
}
.w3-dropdown-submenu>.w3-dropdown-content {
    top: 0 !important;
    left: 100% !important;
    margin-top: 0px !important;
    margin-left: -1px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.w3-dropdown-submenu>.w3-dropdown-content {
    display: none !important;
}
.w3-dropdown-submenu > .w3-dropdown-content li, .w3-dropdown-content a {
    text-decoration:none !important;
    list-style: none !important;
    width:100% !important;
}
.w3-dropdown-submenu:hover>.w3-dropdown-content {
    display: block !important;
}

.w3-dropdown-submenu>a:after {
    display: block !important;
    content: " " !important;
    float: right !important;
    width: 0 !important;
    height: 0 !important;
    border-color: transparent !important;
    border-style: solid !important;
    border-width: 5px 0 5px 5px !important;
    border-left-color: #ccc !important;
    margin-top: 5px !important;
    margin-right: -10px !important;
}

.w3-dropdown-submenu:hover>a:after {
    border-left-color: #fff !important;
}

.w3-dropdown-submenu.pull-left {
    float: none !important;
}

.w3-dropdown-submenu.pull-left>.w3-dropdown-content {
    left: -100% !important;
    margin-left: 10px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

i.round-icon{
    padding: 8px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 1px #888;
    -webkit-box-shadow: 0px 0px 1px #888;
    box-shadow: 0px 0px 1px #888;
}

