/*
    Package     : Social Media CSS
    Created on  : Oct 1, 2016, 9:41:43 AM
    Author      : Frederick S. Crisostomo
*/
.social-media-twitter {color:#FFF !important; background-color:#00ABF1 !important}
.social-media-hover-twitter:hover {color:#FFF !important; background-color:#00ABF1 !important}
.social-media-text-twitter {color:#00ABF1 !important}
.social-media-hover-text-twitter:hover {color:#00ABF1 !important}
.social-media-border-twitter {border-color:#00ABF1 !important}
.social-media-hover-border-twitter:hover {border-color:#00ABF1 !important}

.social-media-facebook {color:#FFF !important; background-color:#4867AA !important}
.social-media-hover-facebook:hover {color:#FFF !important; background-color:#4867AA !important}
.social-media-text-facebook {color:#4867AA !important}
.social-media-hover-text-facebook:hover {color:#4867AA !important}
.social-media-border-facebook {border-color:#4867AA !important}
.social-media-hover-border-facebook:hover {border-color:#4867AA !important}

.social-media-instagram {color:#FFF !important; background-color:#8A5B47 !important}
.social-media-hover-instagram:hover {color:#FFF !important; background-color:#8A5B47 !important}
.social-media-text-instagram {color:#8A5B47 !important}
.social-media-hover-text-instagram:hover {color:#8A5B47 !important}
.social-media-border-instagram {border-color:#8A5B47 !important}
.social-media-hover-border-instagram:hover {border-color:#8A5B47 !important}

.social-media-google {color:#FFF !important; background-color:#DC4A38 !important}
.social-media-hover-google:hover {color:#FFF !important; background-color:#DC4A38 !important}
.social-media-text-google {color:#DC4A38 !important}
.social-media-hover-text-google:hover {color:#DC4A38 !important}
.social-media-border-google {border-color:#DC4A38 !important}
.social-media-hover-border-google:hover {border-color:#DC4A38 !important}

.social-media-youtube {color:#FFF !important; background-color:#E22C29 !important}
.social-media-hover-youtube:hover {color:#FFF !important; background-color:#E22C29 !important}
.social-media-text-youtube {color:#E22C29 !important}
.social-media-hover-text-youtube:hover {color:#E22C29 !important}
.social-media-border-youtube {border-color:#E22C29 !important}
.social-media-hover-border-youtube:hover {border-color:#E22C29 !important}

.social-media-pinterest {color:#FFF !important; background-color:#BD081C !important}
.social-media-hover-pinterest:hover {color:#FFF !important; background-color:#BD081C !important}
.social-media-text-pinterest {color:#BD081C !important}
.social-media-hover-text-pinterest:hover {color:#BD081C !important}
.social-media-border-pinterest {border-color:#BD081C !important}
.social-media-hover-border-pinterest:hover {border-color:#BD081C !important}

.social-media-linkedin {color:#FFF !important; background-color:#0177B5 !important}
.social-media-hover-linkedin:hover {color:#FFF !important; background-color:#0177B5 !important}
.social-media-text-linkedin {color:#0177B5 !important}
.social-media-hover-text-linkedin:hover {color:#0177B5 !important}
.social-media-border-linkedin {border-color:#0177B5 !important}
.social-media-hover-border-linkedin:hover {border-color:#0177B5 !important}
