/* 
    Theme Color : Antique Gold
    Author      : Frederick S. Crisostomo
    Credits     : W3CSS
*/
.w3-theme-l5, .w3-hover-theme-l5:hover, .w3-active-theme-l5:active, .w3-active-theme-l5.active > a {color:#000 !important; background-color:#f8f7f2 !important}
.w3-theme-l4, .w3-hover-theme-l4:hover, .w3-active-theme-l4:active, .w3-active-theme-l4.active > a {color:#000 !important; background-color:#e6e3d4 !important}
.w3-theme-l3, .w3-hover-theme-l3:hover, .w3-active-theme-l3:active, .w3-active-theme-l3.active > a {color:#000 !important; background-color:#cec8aa !important}
.w3-theme-l2, .w3-hover-theme-l2:hover, .w3-active-theme-l2:active, .w3-active-theme-l2.active > a {color:#000 !important; background-color:#b5ac7f !important}
.w3-theme-l1, .w3-hover-theme-l1:hover, .w3-active-theme-l1:active, .w3-active-theme-l1.active > a {color:#fff !important; background-color:#998e58 !important}
.w3-theme-d1, .w3-hover-theme-d1:hover, .w3-active-theme-d1:active, .w3-active-theme-d1.active > a {color:#fff !important; background-color:#635c39 !important}
.w3-theme-d2, .w3-hover-theme-d2:hover, .w3-active-theme-d2:active, .w3-active-theme-d2.active > a {color:#fff !important; background-color:#585233 !important}
.w3-theme-d3, .w3-hover-theme-d3:hover, .w3-active-theme-d3:active, .w3-active-theme-d3.active > a {color:#fff !important; background-color:#4d482c !important}
.w3-theme-d4, .w3-hover-theme-d4:hover, .w3-active-theme-d4:active, .w3-active-theme-d4.active > a {color:#fff !important; background-color:#423d26 !important}
.w3-theme-d5, .w3-hover-theme-d5:hover, .w3-active-theme-d5:active, .w3-active-theme-d5.active > a {color:#fff !important; background-color:#373320 !important}

.w3-text-theme-l5, .w3-hover-text-theme-l5:hover, .w3-active-text-theme-l5:active, .w3-active-text-theme-l5.active > a {color:#f8f7f2 !important}
.w3-text-theme-l4, .w3-hover-text-theme-l4:hover, .w3-active-text-theme-l4:active, .w3-active-text-theme-l4.active > a {color:#e6e3d4 !important}
.w3-text-theme-l3, .w3-hover-text-theme-l3:hover, .w3-active-text-theme-l3:active, .w3-active-text-theme-l3.active > a {color:#cec8aa !important}
.w3-text-theme-l2, .w3-hover-text-theme-l2:hover, .w3-active-text-theme-l2:active, .w3-active-text-theme-l2.active > a {color:#b5ac7f !important}
.w3-text-theme-l1, .w3-hover-text-theme-l1:hover, .w3-active-text-theme-l1:active, .w3-active-text-theme-l1.active > a {color:#998e58 !important}
.w3-text-theme-d1, .w3-hover-text-theme-d1:hover, .w3-active-text-theme-d1:active, .w3-active-text-theme-d1.active > a {color:#635c39 !important}
.w3-text-theme-d2, .w3-hover-text-theme-d2:hover, .w3-active-text-theme-d2:active, .w3-active-text-theme-d2.active > a {color:#585233 !important}
.w3-text-theme-d3, .w3-hover-text-theme-d3:hover, .w3-active-text-theme-d3:active, .w3-active-text-theme-d3.active > a {color:#4d482c !important}
.w3-text-theme-d4, .w3-hover-text-theme-d4:hover, .w3-active-text-theme-d4:active, .w3-active-text-theme-d4.active > a {color:#423d26 !important}
.w3-text-theme-d5, .w3-hover-text-theme-d5:hover, .w3-active-text-theme-d5:active, .w3-active-text-theme-d5.active > a {color:#373320 !important}

.w3-border-theme-l5, .w3-hover-border-theme-l5:hover, .w3-active-border-theme-l5:active, .w3-active-border-theme-l5.active > a {border-color:#f8f7f2 !important}
.w3-border-theme-l4, .w3-hover-border-theme-l4:hover, .w3-active-border-theme-l4:active, .w3-active-border-theme-l4.active > a {border-color:#e6e3d4 !important}
.w3-border-theme-l3, .w3-hover-border-theme-l3:hover, .w3-active-border-theme-l3:active, .w3-active-border-theme-l3.active > a {border-color:#cec8aa !important}
.w3-border-theme-l2, .w3-hover-border-theme-l2:hover, .w3-active-border-theme-l2:active, .w3-active-border-theme-l2.active > a {border-color:#b5ac7f !important}
.w3-border-theme-l1, .w3-hover-border-theme-l1:hover, .w3-active-border-theme-l1:active, .w3-active-border-theme-l1.active > a {border-color:#998e58 !important}
.w3-border-theme-d1, .w3-hover-border-theme-d1:hover, .w3-active-border-theme-d1:active, .w3-active-border-theme-d1.active > a {border-color:#635c39 !important}
.w3-border-theme-d2, .w3-hover-border-theme-d2:hover, .w3-active-border-theme-d2:active, .w3-active-border-theme-d2.active > a {border-color:#585233 !important}
.w3-border-theme-d3, .w3-hover-border-theme-d3:hover, .w3-active-border-theme-d3:active, .w3-active-border-theme-d3.active > a {border-color:#4d482c !important}
.w3-border-theme-d4, .w3-hover-border-theme-d4:hover, .w3-active-border-theme-d4:active, .w3-active-border-theme-d4.active > a {border-color:#423d26 !important}
.w3-border-theme-d5, .w3-hover-border-theme-d5:hover, .w3-active-border-theme-d5:active, .w3-active-border-theme-d5.active > a {border-color:#373320 !important}

.w3-theme-light, .w3-hover-theme-light:hover, .w3-active-theme-light:active, .w3-active-theme-light.active > a {color:#000 !important; background-color:#f8f7f2 !important}
.w3-theme-dark, .w3-hover-theme-dark:hover, .w3-active-theme-dark:active, .w3-active-theme-dark.active > a {color:#fff !important; background-color:#373320 !important}
.w3-theme-action, .w3-hover-theme-action:hover, .w3-active-theme-action:active, .w3-active-theme-action.active > a {color:#fff !important; background-color:#373320 !important}

.w3-theme, .w3-hover-theme:hover, .w3-active-theme:active, .w3-active-theme.active > a {color:#fff !important; background-color:#6f6740 !important}
.w3-text-theme, .w3-hover-text-theme:hover, .w3-active-text-theme:active, .w3-active-text-theme.active > a {color:#6f6740 !important}
.w3-border-theme, .w3-hover-border-theme:hover, .w3-active-border-theme:active, .w3-active-border-theme.active > a {border-color:#6f6740 !important}