/*
    Theme Color : Platinum
    Author      : Frederick S. Crisostomo
    Credits     : W3CSS
*/
.w3-theme-l5, .w3-hover-theme-l5:hover, .w3-active-theme-l5:active, .w3-active-theme-l5.active > a {color:#000 !important; background-color:#f9f9fa !important}
.w3-theme-l4, .w3-hover-theme-l4:hover, .w3-active-theme-l4:active, .w3-active-theme-l4.active > a {color:#000 !important; background-color:#eaedee !important}
.w3-theme-l3, .w3-hover-theme-l3:hover, .w3-active-theme-l3:active, .w3-active-theme-l3.active > a {color:#000 !important; background-color:#d6dadd !important}
.w3-theme-l2, .w3-hover-theme-l2:hover, .w3-active-theme-l2:active, .w3-active-theme-l2.active > a {color:#000 !important; background-color:#c1c8cb !important}
.w3-theme-l1, .w3-hover-theme-l1:hover, .w3-active-theme-l1:active, .w3-active-theme-l1.active > a {color:#000 !important; background-color:#adb6ba !important}
.w3-theme-d1, .w3-hover-theme-d1:hover, .w3-active-theme-d1:active, .w3-active-theme-d1.active > a {color:#fff !important; background-color:#87949b !important}
.w3-theme-d2, .w3-hover-theme-d2:hover, .w3-active-theme-d2:active, .w3-active-theme-d2.active > a {color:#fff !important; background-color:#75848c !important}
.w3-theme-d3, .w3-hover-theme-d3:hover, .w3-active-theme-d3:active, .w3-active-theme-d3.active > a {color:#fff !important; background-color:#66737b !important}
.w3-theme-d4, .w3-hover-theme-d4:hover, .w3-active-theme-d4:active, .w3-active-theme-d4.active > a {color:#fff !important; background-color:#586369 !important}
.w3-theme-d5, .w3-hover-theme-d5:hover, .w3-active-theme-d5:active, .w3-active-theme-d5.active > a {color:#fff !important; background-color:#495258 !important}

.w3-text-theme-l5, .w3-hover-text-theme-l5:hover, .w3-active-text-theme-l5:active, .w3-active-text-theme-l5.active > a {color:#f9f9fa !important}
.w3-text-theme-l4, .w3-hover-text-theme-l4:hover, .w3-active-text-theme-l4:active, .w3-active-text-theme-l4.active > a {color:#eaedee !important}
.w3-text-theme-l3, .w3-hover-text-theme-l3:hover, .w3-active-text-theme-l3:active, .w3-active-text-theme-l3.active > a {color:#d6dadd !important}
.w3-text-theme-l2, .w3-hover-text-theme-l2:hover, .w3-active-text-theme-l2:active, .w3-active-text-theme-l2.active > a {color:#c1c8cb !important}
.w3-text-theme-l1, .w3-hover-text-theme-l1:hover, .w3-active-text-theme-l1:active, .w3-active-text-theme-l1.active > a {color:#adb6ba !important}
.w3-text-theme-d1, .w3-hover-text-theme-d1:hover, .w3-active-text-theme-d1:active, .w3-active-text-theme-d1.active > a {color:#87949b !important}
.w3-text-theme-d2, .w3-hover-text-theme-d2:hover, .w3-active-text-theme-d2:active, .w3-active-text-theme-d2.active > a {color:#75848c !important}
.w3-text-theme-d3, .w3-hover-text-theme-d3:hover, .w3-active-text-theme-d3:active, .w3-active-text-theme-d3.active > a {color:#66737b !important}
.w3-text-theme-d4, .w3-hover-text-theme-d4:hover, .w3-active-text-theme-d4:active, .w3-active-text-theme-d4.active > a {color:#586369 !important}
.w3-text-theme-d5, .w3-hover-text-theme-d5:hover, .w3-active-text-theme-d5:active, .w3-active-text-theme-d5.active > a {color:#495258 !important}

.w3-border-theme-l5, .w3-hover-border-theme-l5:hover, .w3-active-border-theme-l5:active, .w3-active-border-theme-l5.active > a {border-color:#f9f9fa !important}
.w3-border-theme-l4, .w3-hover-border-theme-l4:hover, .w3-active-border-theme-l4:active, .w3-active-border-theme-l4.active > a {border-color:#eaedee !important}
.w3-border-theme-l3, .w3-hover-border-theme-l3:hover, .w3-active-border-theme-l3:active, .w3-active-border-theme-l3.active > a {border-color:#d6dadd !important}
.w3-border-theme-l2, .w3-hover-border-theme-l2:hover, .w3-active-border-theme-l2:active, .w3-active-border-theme-l2.active > a {border-color:#c1c8cb !important}
.w3-border-theme-l1, .w3-hover-border-theme-l1:hover, .w3-active-border-theme-l1:active, .w3-active-border-theme-l1.active > a {border-color:#adb6ba !important}
.w3-border-theme-d1, .w3-hover-border-theme-d1:hover, .w3-active-border-theme-d1:active, .w3-active-border-theme-d1.active > a {border-color:#87949b !important}
.w3-border-theme-d2, .w3-hover-border-theme-d2:hover, .w3-active-border-theme-d2:active, .w3-active-border-theme-d2.active > a {border-color:#75848c !important}
.w3-border-theme-d3, .w3-hover-border-theme-d3:hover, .w3-active-border-theme-d3:active, .w3-active-border-theme-d3.active > a {border-color:#66737b !important}
.w3-border-theme-d4, .w3-hover-border-theme-d4:hover, .w3-active-border-theme-d4:active, .w3-active-border-theme-d4.active > a {border-color:#586369 !important}
.w3-border-theme-d5, .w3-hover-border-theme-d5:hover, .w3-active-border-theme-d5:active, .w3-active-border-theme-d5.active > a {border-color:#495258 !important}

.w3-theme-light, .w3-hover-theme-light:hover, .w3-active-theme-light:active, .w3-active-theme-light.active > a {color:#000 !important; background-color:#f9f9fa !important}
.w3-theme-dark, .w3-hover-theme-dark:hover, .w3-active-theme-dark:active, .w3-active-theme-dark.active > a {color:#fff !important; background-color:#495258 !important}
.w3-theme-action, .w3-hover-theme-action:hover, .w3-active-theme-action:active, .w3-active-theme-action.active > a {color:#fff !important; background-color:#495258 !important}

.w3-theme, .w3-hover-theme:hover, .w3-active-theme:active, .w3-active-theme.active > a {color:#fff !important; background-color:#98a3a9 !important}
.w3-text-theme, .w3-hover-text-theme:hover, .w3-active-text-theme:active, .w3-active-text-theme.active > a {color:#98a3a9 !important}
.w3-border-theme, .w3-hover-border-theme:hover, .w3-active-border-theme:active, .w3-active-border-theme.active > a {border-color:#98a3a9 !important}