/* 
    Theme Color : Copper
    Author      : Frederick S. Crisostomo
*/
.w3-theme-l5 {color:#000 !important; background-color:#fbf4ef !important}
.w3-theme-l4 {color:#000 !important; background-color:#f1d9c9 !important}
.w3-theme-l3 {color:#000 !important; background-color:#e3b494 !important}
.w3-theme-l2 {color:#fff !important; background-color:#d68e5e !important}
.w3-theme-l1 {color:#fff !important; background-color:#bf6a31 !important}
.w3-theme-d1 {color:#fff !important; background-color:#7c4520 !important}
.w3-theme-d2 {color:#fff !important; background-color:#6e3d1c !important}
.w3-theme-d3 {color:#fff !important; background-color:#603619 !important}
.w3-theme-d4 {color:#fff !important; background-color:#532e15 !important}
.w3-theme-d5 {color:#fff !important; background-color:#452612 !important}

.w3-theme-light {color:#000 !important; background-color:#fbf4ef !important}
.w3-theme-dark {color:#fff !important; background-color:#452612 !important}
.w3-theme-action {color:#fff !important; background-color:#452612 !important}

.w3-theme {color:#fff !important; background-color:#8b4d24 !important}
.w3-text-theme {color:#8b4d24 !important}
.w3-border-theme {border-color:#8b4d24 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#8b4d24 !important}
.w3-hover-text-theme {color:#8b4d24 !important}
.w3-hover-border-theme:hover {border-color:#8b4d24 !important}
